

.App-header {
  position: relative;
}

video {
  display: block;
}

.overlay {
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.overlay > * {
  display: block;
}


.snap-photo {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: aliceblue;
  opacity: 70%;
  background-color: black;
  position: relative;
  padding: 0.5rem 1rem;
  left: 50%;
  transform: translateX(-50%);
  top: 17%;
}

.message {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: aliceblue;
  opacity: 40%;
  background-color: black;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  text-align: center;
  z-index: 10;
  padding-top: 0.5rem 1rem;
  display: inline-block;
}

.rectangle {
	position: relative;
  width: calc(50vh - 4rem);
  height: 60vh;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-60%);
}

