.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.pic {
  position:relative;
  vertical-align: bottom;
  width: 100px;
  height: 100px;
}

button {
  vertical-align: bottom;
}

.rectangle.Error {
	position: relative;
	width: 220px;
	height: 300px;
  border-radius: 50%;
	background-color: transparent;
	border: 5px solid white;
	top: 0%;
	left: 0%;
	z-index: 10;
}

.rectangle.good {
	position: relative;
	width: 220px;
	height: 300px;
  border-radius: 50%;
	background-color: transparent;
	border: 5px solid green;
	top: 0%;
	left: 0%;
	z-index: 10;
}